// 字体大小
@for $i from 10 through 200 {
  .f-s-#{$i} {
    font-size: ($i) * 1px;
  }
}

// 浮动
.clear {

  &:before,
  &:after {
    display: table;
  }

  &:after {
    content: "";
    clear: both;
  }
}

.fl,
.fr {
  display: inline
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.block {
  display: block;
  width: 100%;
}

.inline-block {
  display: inline-block;
}

// 背景颜色
.bg-white {
  background: #fff;
}

.t-white {
  color: #fff;
}

.t-grey {
  color: #9B9B9B
}

// 线
.vui-line {
  border-bottom: 1px solid #f2f2f2;
}

//对齐方式
.tl {
  text-align: left !important;
}

.tr {
  text-align: right !important;
}

.tc {
  text-align: center !important;
}

.tj {
  text-align: justify;
}

.tn {
  white-space: nowrap;
}

.b {
  font-weight: 700;
}

.d {
  text-decoration: line-through;
}

.pointer {
  cursor: pointer;
}

// 填充边距方法
@mixin padding-margin($className, $attr) {
  @for $i from 0 through 700 {
    .#{$className}#{$i} {
      #{$attr}: ($i) * 1px;
    }
  }
}

//默认填充
@include padding-margin(pd, padding);
@include padding-margin(pt, padding-top);
@include padding-margin(pr, padding-right);
@include padding-margin(pb, padding-bottom);
@include padding-margin(pl, padding-left);
//默认边距
@include padding-margin(mg, margin);
@include padding-margin(mt, margin-top);
@include padding-margin(mr, margin-right);
@include padding-margin(mb, margin-bottom);
@include padding-margin(ml, margin-left);


// 多文本溢出
@mixin ell($multi-line:'false', $line-clamp:0, $box-orient:initial) {
  overflow: hidden;
  text-overflow: ellipsis;

  @if $multi-line=='true' {
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: $line-clamp; // number行数
    /* autoprefixer: ignore next */
    -webkit-box-orient: $box-orient; //方向 vertical
  }

  @else {
    white-space: nowrap;
    display: block;
  }
}

@for $i from 1 through 7 {
  @if $i==1 {
    .ell {
      @include ell()
    }
  }

  @else {
    .ell-#{$i} {
      @include ell('true', $i, vertical)
    }
  }
}

// felx
.vui-flex {
  display: flex;
}

.vui-flex-ver {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.vui-flex-start {
  justify-content: flex-start;
}

.vui-flex-end {
  justify-content: flex-end
}

.vui-flex-center {
  justify-content: center;
}

.vui-flex-top {
  align-items: flex-start
}

.vui-flex-bottom {
  align-items: flex-end
}

.vui-flex-middle {
  align-items: center;
}

.vui-flex-between {
  justify-content: space-between;
}

.vui-flex-around {
  justify-content: space-around;
}

.vui-flex-item {
  flex: 1;
  width: 0%;
}

.vui-flex-item>.vui-flex {
  width: 100%;
}

.vui-flex-vertical {
  box-orient: vertical;
  flex-direction: column;
}
